body {
  font-family: family("body");
  font-size: size("root");
}

.icon {
  width: 1em;
}

.container {
  width: min(breakpoint("desktop"), 90%);
  margin-left: auto;
  margin-right: auto;
  padding-left: spacer("2");
  padding-right: spacer("2");
}
