/*
Fonts
  - Merriweather
  - Nunito
*/

/// Merriweather
@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather/Merriweather-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather/Merriweather-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather/Merriweather-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather/Merriweather-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather/Merriweather-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather/Merriweather-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("./fonts/Merriweather/Merriweather-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

/// Nunito
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
}
